* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
.container {
  padding: 30px 50px;
}
header {
  background: #020024;
  position: relative;
  background: linear-gradient(170deg, #020024 65%, #ffffff 10%);
}
.header-content {
  display: flex;
  align-items: center;
}
.profile-image {
  flex-basis: 30%;
  overflow: hidden;
  box-shadow: 2px 2px 3px 0 gray;
}
.profile-image img {
  width: 100%;
}
.about {
  padding: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  line-height: 2;
  background-color: #fff;
  box-shadow: 0 0 3px 0 black;
}
.about .socials {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: flex-end;
}
/* My work */
.my-work {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
}
.project-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 2px 5px 1px gray;
  padding-bottom: 40px;
}
.project-img {
  border-bottom: .5px solid black;
}
.project-img img {
  width: 100%;
}
.project-card .name-icon, .project-card .desc {
  padding: 0 20px;
}
.name-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
